
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inspiration');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Press Start 2P');

footer{
  	font-family: 'Rubik', sans-serif;
}

div.footer {
	position:fixed;
	bottom:0;
	width: 100%;
	opacity: 60%;
}

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
													/* --- NAVIGACIJA --- */
.navbar-logo{
	padding: 15px;
	color: #fff;
	font-family: 'Pacifico', sans-serif;
	font-size: large;
	font-weight: bold;
	letter-spacing: 3px;
}

.navbar-logo:hover{
	padding: 15px;
	color: #fff;
	font-family: 'Pacifico', sans-serif;
	font-size: large;
	font-weight: bold;
	letter-spacing: 3px;
}

.navbar-mainbg{
	background-color: #C68642;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent ul li a:hover{
	color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.4s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #C68642;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C68642;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	.navbar{
		opacity: 80%;
	}
	.navbar-logo{
		font-size: small;
	}
	.navbar-logo:hover{
		font-size: small;
	}
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

														/* --- IGRICA --- */
#igrica {
	margin: auto;
	width: 550px;
	font-family: 'Press Start 2P', 'Pacifico', sans-serif;
	font-weight: bold;
	font-size: large;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:.3s;
}
#pobeda {
	width: 100%;
	font-family: 'Press Start 2P', 'Pacifico', sans-serif;
	font-weight: bold;
	font-size:x-large;
	text-align: center;
	display: none;
	-webkit-text-stroke: 0.5px black;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
 	animation: zoomup 0.8s linear infinite;
}
@keyframes zoomup {
	0%,
	100% {
		color: #ffff00;
		top: 53%;
	}
	50% {
		color: #15ff00;
		top: 55%;
	}
}

#boxcard {
	z-index: 1;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid #C68642;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
  	background: #ebebeb;
	z-index: 2;
}

#boxcard div img {
	display: none;
 	width: 80px;
  	height: 80px;
	border-radius: 10px;
	z-index: 3;
}
#boxbuttons {
	width: 95%;
	text-align: center;
	margin: 20px;
	display: block;
}

#boxbuttons .brojac {
	background: #c3e5ff;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .reset {
	background: #ff8446;
  	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

														/* --- MREZE --- */
#mreze ul {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	margin:0;
	padding:0;
	display:flex;
	max-width: 100%;
}
#mreze  ul li {
	list-style:none;
}
#mreze  ul li a {
	display:block;
	position:relative;
	width:100px;
	height:100px;
	line-height:100px;
	font-size:40px;
	text-align:center;
	text-decoration:none;
	color:#404040;
	margin: 0 30px;
	transition:.5s;
} 
#mreze ul li a span {
	position:absolute;
	transition: transform .5s;
}
#mreze ul li a span:nth-child(1),
#mreze ul li a span:nth-child(3){
	width:100%;
	height:3px;
	background:#404040;
}
#mreze ul li a span:nth-child(1) {
	top:0;
	left:0;
	transform-origin: right;
}
#mreze ul li a:hover span:nth-child(1) {
	transform: scaleX(0);
	transform-origin: left;
	transition:transform .5s;
}
  
#mreze ul li a span:nth-child(3) {
	bottom:0;
	left:0;
	transform-origin: left;
}
#mreze ul li a:hover span:nth-child(3) {
	transform: scaleX(0);
	transform-origin: right;
	transition:transform .5s;
}
  
#mreze ul li a span:nth-child(2),
#mreze ul li a span:nth-child(4){
	width:3px;
	height:100%;
	background:#404040;
}
#mreze ul li a span:nth-child(2) {
	top:0;
	left:0;
	transform:scale(0);
	transform-origin: bottom;
}
#mreze ul li a:hover span:nth-child(2) {
	transform: scale(1);
	transform-origin: top;
	transition:transform .5s;
}
#mreze ul li a span:nth-child(4) {
	top:0;
	right:0;
	transform:scale(0);
	transform-origin: top;
}
#mreze ul li a:hover span:nth-child(4) {
	transform: scale(1);
	transform-origin: bottom;
	transition:transform .5s;
}
  
#mreze .facebook:hover {
	color: #067cc6;
}
#mreze .facebook:hover span { 
	background: #067cc6;
}
#mreze .tiktok:hover {
	color: #0ac3e4;
}
#mreze .tiktok:hover span { 
	background: #0ac3e4;
}
#mreze .instagram:hover {
	color: #c32a88;
}
#mreze .instagram:hover span { 
	background: #c32a88;
}
#mreze .google:hover {
	color: #dd4b39;
}
#mreze .google:hover span { 
	background: #dd4b39;
}
#mreze ul li a .tiktok {
	color: #0ac3e4;
}
#mreze ul li a:hover:nth-child(3) {
	color: #c32aa3;
}
#mreze  ul li a:hover:nth-child(4) {
	color: #dd4b39;
}

														/* --- GALERIJA --- */
#galerija {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.carousel{
	width: 800px;
	transition: 0.3s;
}
.carousel-item img {
	object-fit: cover;
	border-radius: 3%;
	transform:translate(50%,0);
	max-width: 100%;
	height: 500px;
	overflow-y: hidden;
}

.carousel-control-prev-icon {
	background-color: #e7dbc6;
	border-radius: 20%;
	transform: scale(1.5);
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
	background-color: #e7dbc6;
	border-radius: 20%;
	transform: scale(1.5);
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-indicators{
	transform:translate(0,75px);
	background-color: #e7dbc6;
	border-radius: 20px;
}
.carousel .carousel-indicators li {
	background-color: rgba(70, 70, 70, 0.489);
}

.carousel .carousel-indicators .active {
	background-color: #444;
}


.item {
  	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width: 100%;
	padding: 50px;
	height: 280px;
	text-align: center;
	background-color: #ffffff;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}


@media screen and (max-width: 600px),
	screen and (max-height: 700px) { 
	
	#mreze  ul li a {
		margin: 15px;
		width:50px;
		height:50px;
		line-height:50px;
		font-size:20px;
	}

	#igrica{
		width: 300px;
		font-size: x-small;
	}
	#pobeda{
		width: 50%;
		font-size: small;
	}
	#boxcard div{
		width: 50px;
		height: 50px;
		margin: 2px;
		padding: 2px;
		border: 2px solid #C68642;
		border-radius: 5px;
	}
	#boxcard div img {
		width: 40px;
		height: 40px;
		border-radius: 5px;
	}
	#boxbuttons {
		width: 80%;
	}

	.carousel{
		width: 400px;
	}
	.carousel-item img {
		border-radius: 1%;
		transform:translate(50%,0);
		max-width: 50%;
		height: 250px;
	}
	
	.carousel-control-prev-icon {
		border-radius: 10%;
		transform: scale(1);
		}
	.carousel-control-next-icon {
		border-radius: 10%;
		transform: scale(1);
		}
} 
@media screen and (max-width: 300px) { 

	#mreze ul { 
		flex-direction: column;

	}
	#mreze  ul li a {
		margin: 15px 0;
		width:50px;
		height:50px;
		line-height:50px;
		font-size:20px;
	}
}
